// fonts
$default-fonts: Arial, sans-serif
+font('Roboto Condensed Bold', 'RobotoCondensed-Bold')
+font('Roboto Medium', 'Roboto-Medium')
+font('Circe Thin', 'Circe-Thin')
+font('Circe Light', 'Circe-Light')
+font('Circe Regular', 'Circe-Regular')
+font('Circe Bold', 'Circe-Bold')
+font('Circe Extra Bold', 'Circe-ExtraBold')
$roboto-bold: 'Roboto Condensed Bold', $default-fonts
$roboto-medium: 'Roboto Medium', $default-fonts
$circe-thin: 'Circe Thin', $default-fonts
$circe-light: 'Circe Light', $default-fonts
$circe: 'Circe Regular', $default-fonts
$circe-bold: 'Circe Bold', $default-fonts
$circe-ebold: 'Circe Extra Bold', $default-fonts

// colors
$black: #353535
$orange: #fc491e
$blue: #07478d

/* ==========================================================================
	 Main Styles
	 ========================================================================== */
button
	font-family: inherit
	font-size: inherit
	color: inherit
	line-height: inherit
	background-color: transparent
a:hover, a:focus
	text-decoration: none
a
	color: inherit
	text-decoration: none
svg
	width: 100%
	height: 100%
.is-hidden
	display: none
// *
// 	+selection
// 		color: #fff
// 		background-color: $red
body
	min-width: 320px
	font-size: 18px
	font-family: $circe-light
	color: $black
	line-height: 1.1
.wrap
	+container

/* ==========================================================================
	 Header
	 ========================================================================== */
.header
	&__top
		padding-top: 5px
		padding-bottom: 10px
		font-family: $circe
		color: #ffffff
		background-color: $black
		&-col
			+span(4)
			&--center
				text-align: center
	&__mail
		display: block
		margin-top: 15px
		font-size: 20px
	&__phone
		font-size: 20px
		span
			font-family: $circe-light
		&-request
			display: inline-block
			font-size: 15px
			border-bottom: 1px solid #ffffff
	&__request
		float: right
		margin-top: 4px
		padding-left: 20px
		padding-right: 20px
		line-height: 43px
		border: 1px solid #ffffff
		border-radius: 23px
	.icon
		display: inline-block
		&-phone
			position: relative
			top: 4px
			margin-left: -22px
			margin-right: 5px
	&__bot
		padding-top: 35px
		padding-bottom: 5px
		+container
	&__logo
		text-align: center
		+span(full)
		&-link
			display: inline-block
.nav
	&_header
		margin-top: 30px
	+span(full)
	&__list
		display: table
		width: 100%
	&__item
		display: table-cell
		padding: 7px 20px 3px
		text-align: center
		&:first-child
			font-family: $circe
			text-transform: uppercase
			border: 1px solid $black
			border-radius: 16px
	&__link
		display: block

/* ==========================================================================
	 Footer
	 ========================================================================== */
.footer
/* ==========================================================================
	 Main
	 ========================================================================== */
/*------------ Screen Section -------------*/
.screen
	padding-top: 75px
	padding-bottom: 75px
	background: url('../img/bg/bg-1.jpg') center center no-repeat
	background-size: cover
	&__title
		margin-top: 150px
		font-size: 66px
		color: $blue
		font-weight: normal
		text-align: center
		+span(4 no-gutters)
		+push(2)
		&-top
			display: inline-block
			line-height: 1.4
			border-bottom: 2px solid $orange
		&-bot
			display: inline-block
			font-family: $circe
			line-height: 1.4
.category
	&_screen
		+span(3)
		+push(3)
	&_provider
		position: relative
		top: -92px
		+span(3)
	&__title
		padding: 20px 30px 15px
		font-family: $circe
		font-size: 20px
		color: #ffffff
		background-color: $orange
	&__list
		padding: 20px 30px 20px 50px
		line-height: 1
		list-style-type: disc
		background-color: #ffffff
		border-left: 1px solid #f0f0f0
		border-right: 1px solid #f0f0f0
	&__item
		& + &
			margin-top: 15px
	&__caption
		padding: 25px 30px
		font-family: $circe
		color: #ffffff
		line-height: 1
		text-align: center
		background-color: $blue
	&__btn
		display: block
		width: 100%
		padding: 12px 5px 14px
		background-color: transparent
		border: 1px solid #ffffff
		border-radius: 25px
		&_mod
			padding-left: 30px
			padding-right: 30px
	&__vs
		margin-top: 15px
		margin-bottom: 15px
.provider
	padding-top: 35px
	&__col
		+span(8)
	&__title
		font-family: $circe
		font-size: 36px
		font-weight: normal
		&-blue
			color: $blue
		&-orange
			color: $orange
	&__list
		margin-top: 38px
		+span(8 no-gutters)
	&__item
		margin-bottom: 3*gutter()
		overflow: hidden
		+span(2 of 8)
		img
			width: 100%
			height: auto
			vertical-align: bottom
.data
	padding-top: 35px
	padding-bottom: 50px
	color: #ffffff
	background: url('../img/bg/bg-2.jpg') center center no-repeat
	background-size: cover
	&__title
		font-size: 48px
		text-align: center
		font-weight: normal
	&__list
		margin-top: 30px
		+span(full)
	&__el
		&_year
			text-align: center
			+span(2)
			.data__number
				padding-top: 38px
		&_position
			+span(2)
			.data__uptext,
			.data__text
				margin-left: 20%
				width: 50%
			.data__number
				margin-left: 25%
			.data__subtext
				position: relative
				top: -10px
				left: 10px
		&_clients
			+span(2)
			.data__number
				padding-left: 20%
				padding-top: 38px
			.data__text
				margin-left: 40%
		&_time
			padding-top: 17px
			+span(2)
			.data__uptext
				padding-left: 30%
			.data__number
				padding-left: 50%
			.data__text
				padding-left: 30%
			.data__subtext
				position: relative
				top: -10px
		&_sum
			+span(4)
			.data__uptext,
			.data__number
				padding-left: 10%
			.data__uptext
				width: 90%
			.data__subtext
				position: relative
				top: -10px
				left: 10px
	&__number
		font-family: $roboto-bold
		font-size: 80px
		color: $orange
		line-height: 1
	&__subtext
		font-family: $circe-light
		font-size: 18px
		color: #ffffff
.ad
	padding-top: 60px
	padding-bottom: 60px
	text-align: center
	&__title
		font-size: 48px
		font-weight: normal
		+span(full)
	&__subtitle
		margin-top: 15px
		line-height: 30px
		font-weight: normal
		+span(18 of 24)
		+push(3 of 24)
.type
	padding-top: 40px
	padding-bottom: 80px
	background-color: #eeeeee
	&__title
		font-size: 48px
		font-weight: normal
		text-align: center
	&__list
		margin-top: 40px
		+span(full no-gutters)
	&__item
		position: relative
		margin-bottom: 2*gutter()
		+span(4)
		&:nth-child(1),
		&:nth-child(2)
			.type__desc
				left: 65%
		&:nth-child(3)
		&:nth-child(4)
			+push(2)
		&:nth-child(5)
		img
			width: 100%
			height: auto
			vertical-align: bottom
			cursor: pointer
	&__desc
		position: absolute
		top: 45%
		left: 52%
		padding-right: 15px
		cursor: pointer
.purchase
	max-width: 100wv
	overflow: hidden
	padding-top: 70px
	padding-bottom: 70px
	&__list
		+span(7)
		+layout(after)
	&__item
		float: left
		margin-bottom: 2*gutter()
		line-height: 1
		+span(2 of 6)
		&:nth-child(3n)
			+span(last)
	&__img
		img
			width: 100%
			height: auto
			vertical-align: bottom
	&__bold
		font-family: $circe-bold
	&__desc
		overflow: hidden
		margin-top: 12px
		height: 54px
	&__weight
		margin-top: 15px
	&__price
		margin-top: 15px
	&__field
		margin-top: 15px
		line-height: 36px
	&__input
		margin-right: 10px
		width: 38px
		height: 38px
		font-size: 18px
		color: $black
		text-align: center
		background-color: #ffffff
		border: 1px solid #f0f0f0
	&__btn
		margin-top: 15px
		width: 100%
		text-align: center
		height: 40px
		color: #ffffff
		line-height: 40px
		background-color: $orange
	&__tool
		position: relative
		height: 100%
		padding-top: 60px
		color: #ffffff
		line-height: 30px
		+layout(inside)
		+span(5)
		&:before
			content: ''
			position: absolute
			top: 0
			left: 15px
			width: 220px
			height: 502px
			background-color: $blue
			z-index: -1
		&-in
			position: relative
			margin-left: 60px
			padding: 30px 40px 144px
			background-color: $black
			&:after
				content: ''
				position: absolute
				left: 100%
				top: 0
				bottom: 0
				width: 200%
				background-color: $black
		&-title
			font-family: $circe
			font-size: 24px
		&-desc
			margin-top: 30px
		&-el
			margin-top: 70px
		&-load
			display: block
			+clearfix
			& + &
				margin-top: 30px
				.purchase__tool-type
					width: 60%
		&-icon
			float: left
			margin-right: 15px
			img
				vertical-align: bottom
		&-text
			overflow: hidden
			margin-top: 10px

/*------------  -------------*/
/*------------  -------------*/
/*------------  -------------*/
/*------------  -------------*/
/*------------  -------------*/
/*------------  -------------*/
/*------------  -------------*/
/*------------  -------------*/
/* ==========================================================================
	 Other Styles
	 ========================================================================== */
.clearfix
	+clearfix

